*.pyc
*.params
experiment*/
__pycache__/
ASTGCN*/
venv/
.vscode/
.pytest_cache/
data/
*.json
!realtime_server/**/*.json

*.pth
*.npz
calculate_memory.py
test_fix.py
test_loading_only.py
test_original_problem.py
validate_fixes.py
verify_fix.py
*.csv
*.conf
*.zip
baselines/results/gru_results.npz

data/PEMS08/distance.csv
baselines/results/lstm_test_metrics.csv
baselines/results/lstm_results.npz
baselines/results/gru_results.npz
data/PEMS08/pems08.npz


realtime_server/frontend/node_modules/
baselines/results/